* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #82d2e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
.timer {
  color: white;
  text-align: center;
}

header {
  font-size: 1.5rem;
}

.timer {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  width: 640px;
  height: 640px;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* CARD POSTION ON TOP OF ONE ANOTHER */
.memory-card {
  cursor: pointer;
  position: relative;
  height: 50%;
  width: 33%;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

/* SCALE CARD WHEN CLICK*/
.memory-card:active{
  transform: scale(.97);
  transition: transform .2s;
}

#front-face,
#back-face {
  position: absolute;
  padding: 1.1rem;
  height: 70%;
  width: 100%;
  backface-visibility: hidden;
}

#front-face{
  transform: rotateY(180deg);
}

/* HIDE CARD  */
.memory-card.active {
  display: none;
}

.memory-card.active {
  display: inline-block;
  transform: rotateY(180deg);
}

.greyed-out {
  background-color: rgba(0, 0, 0, 0.7);
}
